      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="//d3js.org/d3.v3.min.js"></script>
      <script src="/javascripts/doctor_location.js"></script>


  </body>
</html>