<html>
   <head>
      <title>Doctor Location Visualization</title>
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
      <script src='//maps.googleapis.com/maps/api/js?'></script>

      <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      <script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
      <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.label/leaflet.label.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
      <link rel='stylesheet' href='stylesheets/style.css'/>
      <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css"/>
      <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'/>
      <!-- / <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&signed in=true&libraries=places"></script> -->
     
      
   </head>
   <body>