<% include ./partials/header %>

<div class="container" id="addressForm">
  <h2>Inline form</h2>
  <p>Enter Address Below to Reveal 10 Doctors Closest to You</p>
  <form class="form-inline" role="form" action="/upload" method="/post">
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="number" class="form-control" id="zipcodeID" name="zipcode" placeholder="Enter Zipcode">
    </div>
    <button type="button" id="addressParams" class="btn btn-default">Submit</button>
  </form>
</div>

<div id="map" class="dark"></div>

<% include ./partials/footer %>




