<% include ./partials/header %>

<div class="container text-center" id="addressForm">
  <p>''<p>
  <p>''<p>
  <h4>Enter Zip and Click 'Pin' to Mark Number of Medical Practitioners In 20 Closest Zips</h4>
  <h7>Click once! Search will take max 12 seconds To complete. If no records could be found, map will not zoom.</h7>
  <form class="form-inline" role="form" action="/upload" method="/post">
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="number" class="form-control" id="zipcodeID" name="zipcode" placeholder="Enter Zipcode">
    </div>
    <button type="button" id="addressParams" class="btn btn-default">Pin</button>
  </form>
</div>

  <div id="map" class="dark"></div>


<% include ./partials/footer %>




