<% include ./partials/header %>

<div class="container" id="addressForm">
  <h2>Inline form</h2>
  <p>Enter Address Below to Reveal 10 Doctors Closest to You</p>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="house_number">House Number</label>
      <input type="number" class="form-control" id="houseNumberID" name="houseNumber" placeholder="Enter House Number" name="houseNumber">
    </div>
    <div class="form-group">
      <label for="street_number">Street</label>
      <input type="string" class="form-control" id="streetID" placeholder="Enter Street" name="streetName">
    </div>
    <div class="form-group">
      <label for="city_name">City</label>
      <input type="string" class="form-control" id="cityID" placeholder="Enter City" name="cityName">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="string" class="form-control" id="stateID" placeholder="Enter State" name="stateName">
    </div>
    <button type="submit" id="addressParams" class="btn btn-default">Submit</button>
  </form>
</div>

<div id="map" class="dark"></div>

<% include ./partials/footer %>




