<% include ./partials/header %>

<div class="container" id="addressForm">
  <h2>Inline form</h2>
  <p>Enter Address Below to Reveal 10 Doctors Closest to You</p>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="houseNumber">House Number</label>
      <input type="number" class="form-control" id="houseNumber" placeholder="Enter House Number">
    </div>
    <div class="form-group">
      <label for="houseNumber">Street</label>
      <input type="string" class="form-control" id="street" placeholder="Enter Street">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div id="map" class="dark"></div>

<% include ./partials/footer %>




