

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #B7CFD0;
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: #00B7FF;
}

.form-inline {
  padding:20px;
}



body { 
  margin:0; padding:0; 
}

#map { 
  position:absolute; top:125px; bottom:0; width:100%;
  height:400px;
  border: 2px solid black; 
}

pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
}

#addressForm {
  position: relative; top: -50px;
}





/*#map { height: 500px; }
*/